<h2>Backup database</h2>
<form method="post" action=".">
    {% csrf_token %}
    <div class="content">
        <div class="container-fluid">
            <section id="content" class="content">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    {{ database_backup_form.as_p }}
                                    <div class="submit-row">
                                        <input type="submit" class="btn btn-success form-control" name="savebackup"
                                               value="Download database backup">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>
<br/>
<hr/>